version: '3'

services:
  piter_bot:
    build: 
      context: .
      dockerfile: Dockerfile 
    depends_on:
    - 'mariabd'
    environment:
      - TELEGRAM_TOKEN=
      - OWNER=
      - FILES_STORAGE_GROUP= 
      - INST_USER= 
      - INST_PASSWD= 
      - INST_USERNAME= 
      - DISCORD_CHAT_ID= 
      - MARIA_USER= 
      - MARIA_PASSWD= 
      - MARIA_HOST=mariabd
      - MARIA_PORT=3306
      - MARIA_DB= 
      - OPEN_WEATHER_TOKEN=
      - SOCKET_SERVER_IP=piter_bot
      - SOCKET_SERVER_PORT=8888
      - WEBAPPS_URL=
    volumes:
      - ./data/telegram:/usr/src/app/config/
    expose:
      - 8888
 
  mariabd:
    image: mariadb
    restart: always
    environment:
      - MARIADB_RANDOM_ROOT_PASSWORD=yes
      - MARIADB_DATABASE=
      - MARIADB_USER=
      - MARIADB_PASSWORD=
    volumes:
      - ./data:/var/lib/mysql
    expose:
      - 3306

  nginx:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    depends_on:
      - 'mariabd'
    ports:
      - '8000:8000'
      - '81:81'
      - '443:443'
    volumes:
      - ./data/nginx:/data
      - ./data/nginx/letsencrypt:/etc/letsencrypt

  django:
    build:
      context: ./webapps
      dockerfile: Dockerfile
    depends_on:
    - 'mariabd'
    ports:
      - '9000:9000'
    environment:
      - SECRET_KEY=
      - DEBUG=FALSE
      - SOCKET_SERVER_IP=piter_bot
      - SOCKET_SERVER_PORT=8888