# telegram
TELEGRAM_TOKEN = ''   
OWNER = ''
FILES_STORAGE_GROUP = ''


# instagram
INST_USER = ''
INST_PASSWD = ''
INST_USERNAME = ''


# discord
CHAT_ID = ''


# Mariadb
MARIA_USER = ''
MARIA_PASSWD = ''
MARIA_HOST = ''
MARIA_PORT = ''
MARIA_DB = ''